
nav {
    background: #20A759;
    color:#fff;
    padding: 10px;
}
nav a {
    color: rgb(250, 243, 243);
    text-decoration: none;
    padding:10px 20px;
}
nav .active,
nav a:hover {
    background: #e76113;
}

/* ID Selector */
#intro {
    background: #3f10c2;
    border: 1pxsolid#14a4dd;
    min-height: 100px;
    padding: 10px;
}
#intro h1 {
    text-align: left;
    border: 0;
    color: #fff;
}
/* Class Selector */
.button {
    padding: 15px20px;
    background: #bebcbd;
    color: #fff;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
}
.btn-primary {
    background: yellowgreen;
}